body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: 100%;
}

.bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.login-form, .signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form input, .signup-form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button, .signup-form button {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #103dd2;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover, .signup-form button:hover {
    background-color: #45a049;
}

.login-form h3, .signup-form h3 {
    margin: 10px 0;
}

.login-form a, .signup-form a {
    color: #35167e;
    text-decoration: underline;
}

.login-form a:hover, .signup-form a:hover {
    text-decoration: underline;
    color: #45a049;
}
